$clr-0: #000;
$clr-1: #fff;
$clr-2: #2292F5;
$clr-3: #fdbc5a;
$clr-4: rgba(189, 218, 255, 0.37);
$clr-5: #e6e6e6;

.top-bar {
    background: $clr-2;
    padding: 3px 15px;
    text-align: right;
    .logout-btn {
        color: $clr-1;
        font-size: small;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
            color: $clr-3;
        }
    }
}

.heading {
    background: $clr-4;
    padding: 10px;
}
.add-btn {
    float: right;
}

.slide-modal {
    width: 100vw;
    height: 100vh;
    background: rgba($clr-0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
}

.form-section {
    width: 100%;
    max-width: 500px;
    display: block;
    background: $clr-1;
    color: #000;
    margin-left: auto;
    border-radius: 5px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    position: fixed;
    top: 25px;
    right: 0;
    z-index: 1001;
}
